.box1{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 88px solid red;;
}
.box1:hover{
    color: black;
}
.box1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    background-color: rgba(0,0,0,0.3);
}
.title{
    z-index: 1;
    color: white;
}
